@width: 100/24%;
.span-1 {
  width: @width;
  flex: none;
}
.span-2 {
  width: 2 * @width;
  flex: none;
}
.span-3 {
  width: 3 * @width;
  flex: none;
}
.span-4 {
  width: 4 * @width;
  flex: none;
}
.span-5 {
  width: 5 * @width;
  flex: none;
}
.span-6 {
  width: 6 * @width;
  flex: none;
}
.span-7 {
  width: 7 * @width;
  flex: none;
}
.span-8 {
  width: 8 * @width;
  flex: none;
}
.span-9 {
  width: 9 * @width;
  flex: none;
}
.span-10 {
  width: 10 * @width;
  flex: none;
}
.span-11 {
  width: 11 * @width;
  flex: none;
}
.span-12 {
  width: 12 * @width;
  flex: none;
}
.span-13 {
  width: 13 * @width;
  flex: none;
}
.span-14 {
  width: 14 * @width;
  flex: none;
}
.span-15 {
  width: 15 * @width;
  flex: none;
}
.span-16 {
  width: 16 * @width;
  flex: none;
}
.span-17 {
  width: 17 * @width;
  flex: none;
}
.span-18 {
  width: 18 * @width;
  flex: none;
}
.span-19 {
  width: 19 * @width;
  flex: none;
}
.span-20 {
  width: 20 * @width;
  flex: none;
}
.span-21 {
  width: 21 * @width;
  flex: none;
}
.span-22 {
  width: 22 * @width;
  flex: none;
}
.span-23 {
  width: 23 * @width;
  flex: none;
}
.span-24 {
  width: 24 * @width;
  flex: none;
}
